.box{
    width:300px;
    height:300px;
    margin:auto;
    margin-top: 200px;
    /* background-color: red; */
    animation: heart 3s infinite 
}
@keyframes heart {
    10% {
        scale:1;
    }
    25% {
        scale:1.5;
    }
    50% {
        scale:2;
    }
    75% {
        scale:2.5;
    }
    100% {
        scale:1
    }
    150% {
        scale:1.5
    }
    200% {
        scale:0.5
    }
}